name: Build and Push Docker image

on:
  push:
    branches:
      - main 
      - jh

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: newnyup319/greedot-backend:latest
        build-args: |
          AWS_RDS_ID=${{ secrets.AWS_RDS_ID }}
          AWS_RDS_PASSWORD=${{ secrets.AWS_RDS_PASSWORD }}

    - name: Deploy to EC2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          bash /home/ec2-user/update-docker.sh
